<ul class="share_links">
  <li class="facebook">
    <%= link_to "recommend on facebook", "https://www.facebook.com/sharer/sharer.php?u=UPDATE_URL", 
      :class => "facebook", 
      :target => "_blank" -%>
  </li>
  <li class="twitter">
    <%= link_to "tweet it", 
      "https://twitter.com/intent/tweet?source=webclient&text=#{ t("feature.sharing.twitter.status", :url => "UPDATE_URL") }", 
      :class => "twitter", 
      :target => "_blank" -%>
  </li>
  <li class="email">
    <%= mail_to "", "email", 
      :subject => t("feature.sharing.email.subject"), 
      :body => t("feature.sharing.email.body", :url => "UPDATE_URL"), 
      :class => "email" -%>
  </li>
</ul>

<script type="text/javascript" charset="utf-8">
 jQuery(function($){
   var share_url = [ window.parent.location.href.split("#")[0], "%23locations/<%= shareable.id %>"].join("");
   $(".share_links a").each(function(){
     var link = $(this);
     link.attr("href", link.attr("href").replace("UPDATE_URL", share_url));
   });
 });
</script>