// subdomain XSF workaround
document.domain = "openplans.org";


$(function() {
  var locate_feature   = $("#locate_feature"),
      pages            = $("#pages a"),
      Map              = $("#map");

  var MarkerIcon = L.Icon.extend({
    iconUrl     : window.shareabouts.urls.marker_icon,
    iconSize    : new L.Point(25, 34),
    iconAnchor  : new L.Point(12, 34),
    popupAnchor : new L.Point(0, 0),
    shadowSize  : new L.Point(36, 34),
  });

  var FocusedMarkerIcon = L.Icon.extend({
    iconUrl     : window.shareabouts.urls.focused_marker_icon,
    iconSize    : new L.Point(25, 34),
    iconAnchor  : new L.Point(12, 34),
    popupAnchor : new L.Point(0, 0),
    shadowSize  : new L.Point(36, 34),
    shadowUrl   : window.shareabouts.urls.shadow_icon
  });

  var NewMarkerIcon = L.Icon.extend({
    iconUrl     : window.shareabouts.urls.new_marker_icon,
    iconSize    : new L.Point(25, 34),
    iconAnchor  : new L.Point(12, 34),
    popupAnchor : new L.Point(0, 0),
    shadowSize  : new L.Point(36, 34),
    shadowUrl   : window.shareabouts.urls.shadow_icon
  });

  var CrosshairIcon = L.Icon.extend({
    iconUrl     : window.shareabouts.urls.crosshair_icon,
    iconSize    : new L.Point(63, 64),
    iconAnchor  : new L.Point(33,32),
    popupAnchor : new L.Point(0,0),
    shadowSize  : new L.Point(0,0) // no shadow
  });

  /**
   * @param {L.LatLng} latlng The location to translate to query string
   */
  var latLngToQueryString = function(latlng) {
    return "latitude=" + latlng.lat + "&longitude=" + latlng.lng;
  };

  // Initialize shareabouts map
  Map.shareabout({
    map : {
      maxZoom   : window.shareabouts.map_max_zoom,
      minZoom   : window.shareabouts.map_min_zoom,
      maxBounds : window.shareabouts.map_bounds,
      center    : window.shareabouts.map_center || new L.LatLng(40.719991, -73.999530),
      zoomAnimation : false,
      scrollWheelZoom: false
    },
    tileUrl          : 'http://otile1.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
    tileAttribution  : '&copy; 2012 <a target="_blank" href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a target="_blank" href="http://creativecommons.org/licenses/by-sa/2.0/">CCBYSA</a> - Tiles by <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png">',
    markerIcon: new MarkerIcon(),
    focusedMarkerIcon: new FocusedMarkerIcon(),
    newMarkerIcon: new NewMarkerIcon(),
    crosshairIcon   : new CrosshairIcon(),
    locationTypeMarkerIcons : window.shareabouts.LocationTypeIcons,
    initialZoom : window.shareabouts.map_initial_zoom,
    callbacks : {
      onready : function(something) {
        locate_feature.show();
      },
      onload : function() {
        // See views/feature_points/index.html.erb
        // TODO: Should this just be handled automatically? A user shouldn't
        // have to know about this, methinks.
        if (window.shareabouts && window.shareabouts.initialFeatureId) {
          Map.shareabout("viewFeature", window.shareabouts.initialFeatureId)
        }
      },
      onpopup : function() {
        locate_feature.hide();
      }
    },
    
    // Intial feature to show
    initialFeatureId : window.shareabouts.initialFeatureId,
    featuresUrl      : window.shareabouts.urls.feature_points_url,
    featureUrl       : window.shareabouts.urls.feature_point_url,
    // polygonsUrl      : '<%#= url_help.feature_polygons_path %>', // json of coordinates for multipolygon areas
    dragHint         : '<%= I18n.t "map_controls.drag_hint" %>',
    dragHintLong     : '<%= I18n.t "map_controls.drag_hint_long" %>'
  });

  // Register click event within InformationPanel
  // Map.shareabout("addClickEventListenerToPopup", "form#new_feature_point input:submit", function(mouseEvent, target){
  //   var form = $(mouseEvent.target).closest("form");
  // 
  //   Map.shareabout("submitNewFeature", {
  //     data : form.serialize() + "&" + latLngToQueryString( Map.shareabout("getNewFeatureMarker").getLatLng() ),
  //     url : form.attr("action")
  //   });
  // });

  // UI Elements that affect map state
  locate_feature.click( function(event) {
    Map.shareabout("locateNewFeature", {
      url : window.shareabouts.urls.new_feature_point_url
    });
    $(this).hide();    
  });

  // Focus the permalink text on focus
  $(document).on('focus', '.copy-link', function(){
    this.select();
  });

  // Show the permalink and allow it to be copied
  $(document).on('click', '.link', function(e){
    var $input = $('.copy-link');

    $input.toggle();
    if($input.is(':visible')) {
      $input.focus();
    }

    e.preventDefault();
  });
  
  window.mapWrap = (function(){
    return function(){
      if (arguments.length == 1) return Map.shareabout(arguments[0]);
      else Map.shareabout(arguments[0], arguments[1]);
    }
  })();
  
  // indicate to parent page when we're done loading
  $("iframe[name=map]", top.document).attr("loaded", true);
});