/*
 * Structure & Layout
 */
html, body, #wrapper {
  height: 100%;
}
#wrapper {
  position: relative;
}
#content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}
#content-wrapper {
  padding: 2em;
}
#footer {
  color: #fff;
  position: relative;
  z-index: 200;
  width: 940px;
  margin: 0 auto;
  padding: 0;
  top: 420px;
}

/*
 * The Map
 */
#map-container {
  position : absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
  z-index: 50;
}
#map {
  position : absolute;
  top:0;
  bottom:0;
  width:100%;
}

/*
 * Crosshair for touchscreens
 */
#crosshair {
  position : absolute;
  z-index  : 10000;
}
