<div id="map-container">
  <div id="map"></div>
  <div id="popup"></div>
</div>

<% content_for :javascript do %>
<script type="text/javascript" charset="utf-8">
  if (!window.shareabouts) window.shareabouts = {};
  <% if @feature_point.present? %>
    window.shareabouts.initialFeatureId = <%= @feature_point.id %>;
  <% end %>
</script>
<% end %>

<% content_for :footer do %>
<div class="alpha60 padding10 center rounded-top">
  <button type="button" id="locate_feature" title="" style="display:none;">
    <%= t 'map_controls.locate_feature' %> 
    <%= image_tag "marker-new-shadow.png" %>
  </button>
</div>
<% end %>